@import "tailwindcss";


/* .main {
    width: 100%;
   max-width: 50%;
   margin-left: auto;
   margin-right: auto;
   box-shadow: 0 4px 6px -1px rgba(0,
    0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
   border-radius: 0.5rem;
   padding-left: 1rem;
   padding-right: 1rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
   height: 34.375rem;
   color: #f97316;
   background-color: #374151;
  }

  .box{
    display: flex;
    background-color: #fbfdff;
    color: #000000;
    border-radius:  15px;
    font-weight: bold;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;



  } */
